/* Main container styling for NearbyCars */
.nearby-cars-container {
    
    max-width: 1300px;
    width: 100%;
    margin: auto;
    position: relative;
    overflow: hidden;
    color: #333;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    background: rgba(255, 255, 255, 0.25);
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(9px);
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    height: 80vh;
    overflow-y: auto;
}

.nearby-cars-container h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    background: linear-gradient(45deg, #af40ff, #5b42f3, #00ddeb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: gradient-animation 5s infinite linear;
}

@keyframes gradient-animation {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}

/* Wave effect styling */
.wave-section {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.wave {
    position: absolute;
    width: 600px;
    height: 800px;
    opacity: 0.6;
    background: linear-gradient(744deg, #af40ff, #5b42f3 60%, #00ddeb);
    border-radius: 50%;
    animation: wave 55s infinite linear;
}

.wave:nth-child(1) { top: -50%; left: -30%; animation-duration: 60s; }
.wave:nth-child(2) { top: 20%; left: 40%; animation-duration: 50s; }
.wave:nth-child(3) { top: 70%; left: -20%; animation-duration: 45s; }

  
  .car-list {
    display: grid;
    grid-template-columns: 1fr 1fr; 
     
  }
  
  
  .card2 {
    width: 100%;
    max-width: 240px;
    height: auto;
    border-radius: 20px;
    
    position: relative;
    padding: 1.8rem;
    
    transition: 0.5s ease-out;
    overflow: hidden;
    margin-bottom: 1rem;

    background: rgba(255, 255, 255, 0.25);
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(9px);
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    
  }
  
  .card-image {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 1rem;
  }
  
  .card-details {
    color: black;
    height: 100%;
    padding-bottom: 15px;
  }

  .card-button {
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #008bf8;
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    opacity: 0;
    transition: 0.3s ease-out;
  }
  
  .card2:hover {
    border-color: #008bf8;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
  }
  
  .card2:hover .card-button {
    opacity: 1;
  }
  